export NATS_RPC_HOST=127.0.0.1
export NATS_RPC_PORT=61355

export TLS_CERTIFICATE=""
export TLS_KEY=""

export MONGO_HOST=127.0.0.1
export MONGO_PORT=27017
export MONGO_USER=user
export MONGO_PASS=pass
export MONGO_DB=url
export MONGO_COLLECTION=list

export ENV=dev