export NATS_HOST=127.0.0.1
export NATS_PORT=4222
export NATS_RPC_HOST=127.0.0.1
export NATS_RPC_PORT=61355

export TLS_CERTIFICATE=""
export TLS_KEY=""

export PROXY_RPC_SERVER_PORT=61155

export PROXY_HOST=127.0.0.1
export PROXY_PORT=9050
export PROXY_CONTROL_PASSWORD=password
export PROXY_CONTROL_PORT=9051
export PROXY_URL=https://httpbin.org/ip

export POOL_MAX_SIZE=5
export POOL_REFRESH_INTERVAL=15

export URL_PROCESSOR_BATCH_SIZE=5
export URL_PROCESSOR_QUEUE_GROUP=

export ENV=dev

export PRODUCTION_HOST_IP=1.2.3.4