export NATS_HOST=127.0.0.1
export NATS_PORT=4222

export TLS_CERTIFICATE=""
export TLS_KEY=""

export RPC_SERVER_PORT=61155

export PROXY_HOST=127.0.0.1
export PROXY_PORT=9050
export PROXY_CONTROL_PASSWORD=password
export PROXY_CONTROL_PORT=9051
export PROXY_URL=https://httpbin.org/ip